.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.table-vertical {
  border-collapse: collapse;
  width: 100%

}

.table-vertical th {
  width: 20%;
  padding: 5px;
  text-align: left;
}

.table-vertical td {
  width: 80%;
  padding: 5px;
  text-align: left;
}

.table-vertical tr:hover {
  background-color: #e6f9ff;
}

.font-red {
  color: red;
  font-weight: bold;
}

.font-orange {
  color: orange;
  font-weight: bold;

}

.font-yellow {
  color: #ffff00;
  font-weight: bold;

}

.infinity {
  font-size: 16px;
  text-align: center;
}

.reboot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
  margin-right: 2px;
}

.expiration {
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: magenta;
  margin-right: 2px;
}

.panics {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: orange;
  margin-right: 2px;
}

.aborts {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: yellow;
  margin-right: 2px;
}

.coredumps {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
  margin-right: 2px;
}

.reporterusers {
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: blue;
  margin-right: 2px;
}

.reporterclients {
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: lightgreen;
  margin-right: 2px;
}

.activeWithFb {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid green;
}

.activeNoFb {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid red;
}

.inactiveWithFb {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid blue;
}

.inactiveNoFb {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid yellow;
}

.other {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid grey;
}
